include:
  - template: Jobs/Container-Scanning.gitlab-ci.yml

default:
  image: docker:29.1.3

services:
  - docker:29.1.3-dind

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_CHANGED_PATHS == "Dockerfile"'
      when: always

    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: always
      changes:
        - Dockerfile
    
    - if: '$CI_PIPELINE_SOURCE == "web"'
      when: always
    
    - when: never

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  IMAGE_TAG: ciromota/vulscan-nmap:$CI_COMMIT_SHA

stages:
  - build
  - lint
  - test
  - scan
  - deploy

Build:
  stage: build
  script:
    - docker build --cache-from ciromota/vulscan-nmap:latest -t $IMAGE_TAG .
    - docker tag $IMAGE_TAG ciromota/vulscan-nmap:latest

Lint:
  stage: lint
  image: hadolint/hadolint:latest-debian
  script:
    - hadolint Dockerfile

Test:
  stage: test
  before_script:
    - docker build --cache-from ciromota/vulscan-nmap:latest -t $IMAGE_TAG .
  script:
    - docker run --rm $IMAGE_TAG --version
  after_script:
    - echo "Container test completed successfully"

container_scanning:
  stage: scan
  variables:
    CS_IMAGE: ciromota/vulscan-nmap:latest

# push_and_sign:
#   stage: deploy
#   image: docker:29.1.3
#   services:
#     - docker:29.1.3-dind
#   variables:
#     COSIGN_YES: "true"
#   id_tokens:
#     SIGSTORE_ID_TOKEN:
#       aud: sigstore
#   before_script:
#     - apk add --update cosign
#     - echo $DOCKERHUB_TOKEN | cosign login docker.io -u $DOCKER_USER --password-stdin
#   script:
#     - docker buildx build -t ciromota/vulscan-nmap:latest .
#     - docker push ciromota/vulscan-nmap:latest
#     - IMAGE_DIGEST=$(docker inspect --format='{{index .RepoDigests 0}}' ciromota/vulscan-nmap)
#     - cosign sign $IMAGE_DIGEST